<%= link_to "About the Project", about_path%>
</div>

<div class="mini-nav">
  <h3>All Posts</h3> /
  <% if session[:user_id] %>
    <%= link_to "New Post", new_post_path%>
  <% end %>
</div>


<% @posts.each do |post| %>
  <h2> <%= link_to post.title, post_path(post), class: 'post_title'%> </h2>
  <p class='tagline'> Posted: <%= post.created_at.strftime("%m/%d/%Y | %I:%M%p") %> </p>
  <p> <%= post.body %> </p>

  <% post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'tag' %>
  <% end %>
  <hr>
<% end %>
